.TextContent a.normal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #ffffff;
    width: 200px;
    height: 52px;
    font-size: 18px;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    transition: 0.5s;
    margin-top: 30px;
}

.TextContent a.normal:hover {
    background-color: var(--secundary-color);
    border: none;
    color: #ffffff;
}

.TextContent a.learn-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 52px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;

    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 30px;
}