.TextContent a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 52px;
    font-family: Roboto, sans-serif;
    border-radius: 50px;
    margin-top: 30px;
    line-height: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;

}

.TextContent a.normal {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.5s;
    border: none;
}

.TextContent a.normal:hover {
    background-color: var(--secundary-color);
    color: #ffffff;
}


.TextContent a.learn-more {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    /* box-sizing: border-box; */
}

.TextContent a.learn-more:hover {
    color: var(--secundary-color);
    border: 3px solid var(--secundary-color);
}

@media (max-width: 390px) {
    .TextContent a.normal, .TextContent a.learn-more {
        margin-top: 0;
        font-size: 20px;
        height: 40px;
        width: 150px;
    }
}